{% extends 'store/main.html' %}
{% load static %}
{% block content %}

 
  
<div class="row text-left">

    <div class="container py-1">
      <div class="row mb-2">
        <div >
            <img src="{% static 'images/fornite1.png' %}"  alt="" height="400cm" width="600cm" >
          </div>
        <div class="col-lg-5">
            
          <h2 class="display-4 font-weight-light">Quienes somos</h2>
          <p class="font-italic text-muted">Somos una comunidad de videojugadores dedicada a la VENTA, INTERCAMBIO y NOTICIAS del mundo de los videojuegos. Nació de la idea de ofrecer videojuegos, consolas y accesorios sumado con una excelente atención al cliente, compartir conocimientos y asesoría responsable. </p>
          <div >
            <p class="font-italic text-muted">
                <h2 class="display-5 font-weight-light">MISION</h2>
                <p class="font-italic text-muted">Brindar todo tipo de productos para el videojugador, prestar asesoría responsable a cada uno de nuestros clientes.</p>
            </p>
          </div>
    
          <div >
            <p class="font-italic text-muted">
                <h2 class="display-5 font-weight-light">VISION</h2>
                <p class="font-italic text-muted">Ser la tienda líder y referente para los videojugadores de Colombia, donde podrán encontrar productos relacionados con los videojuegos.</p>
            </p>
          </div>
      </div>
        </div>
        
      </div>

     
      
  
  <div class="bg-light py-5">
    <div class="container py-(-90)">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Nuestro equipo</h2>
          <p class="font-italic text-muted">Contamos con el mejor equipo humano para atender a las necesidades del mercado</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jesus Eduardo Muñoz Orozco</h5><span class="small text-uppercase text-muted">Presidente fundador</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Eduardo de Jesus Muñoz Orozco</h5><span class="small text-uppercase text-muted">Atención al cliente</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Eduardo Orozco Muñoz</h5><span class="small text-uppercase text-muted">Ventas</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jesus E Muñoz Orozco</h5><span class="small text-uppercase text-muted">Envios</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
      </div>
    </div>
  </div>
  </div>
 
  
  
    
 

{% endblock content %}
