{% extends 'store/main.html' %}
{% load static %}
{% block content %}

 
<div class="row text-left">
<div class="container py-1">
	<div class="row mb-2">
		<h5 class="display-4 font-weight-light">Filtran los juegos de 2K Games antes del E3 2021: Marvel XCOM, Tiny Tina’s Wonderlands y más</h5>
	  <div >
		  <img src="{% static 'images/filtro.png' %}"  alt="" height="400cm" width="600cm" >
		</div>
		
	  <div class="col-lg-5">
		<p class="font-italic text-muted"><div class="row mb-2">
			<h5 class="display-8 font-weight-light">A tan sólo unos días de la celebración del E3 2021, los principales 
				editores han comenzado ya a ultimar los últimos detalles y presentaciones especiales para el anuncio de sus próximos juegos. Sin embargo, más allá de los teasers 
				realizados por las propias desarrolladoras, 2K Games acaba de ver filtrado su planing completo de juegos, 
				con títulos de sus sagas principales como NBA 2K, Borderlands y Marvel.</h5>
		</p>	
		<div > 	
			<a href="https://www.muycomputer.com/2021/06/05/filtran-juegos-2k-games-e3-2021/">Mas información aquí</a>	
		</div > 
	</div > 
</div>
	<p><br></p>
</div><br>
</div>
<div class="row text-left">
	<div class="container py-1">
		<div class="row mb-2">
			<h5 class="display-4 font-weight-light">Qué podemos esperar de Electronic Arts en el E3 2021, el Summer Game Fest y el EA Play</h5>
		  <div >
			  <img src="{% static 'images/game.png' %}"   alt="" height="400cm" width="620cm" >
			</div>
			
		  <div class="col-lg-5">
			<p class="font-italic text-muted"><div class="row mb-2">
				<h5 class="display-8 font-weight-light">Electronic Arts es uno de los titanes que renacen con nueva fuerza con la llegada del verano: si bien suele lanzar uno o dos bombazos durante la primera mitad de cada año, canaliza la salida de sus súper-ventas entre los meses de septiembre, octubre y noviembre. Y, en ese sentido, tanto el mes de junio como el propio E3 2021 y el Summer Game Fest tienen un peso especial.</h5>
			</p>	
			<div > 	
				<a href="https://www.vidaextra.com/eventos/que-podemos-esperar-ea-bioware-codemasters-e3-2021-summer-game-fest-ea-play">Mas información aquí</a>	
		<div > 
	<div > 
	
	
		
	</div>	
  
  
    
 

{% endblock content %}
