{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% block carrusel %}
{%include "./carrusel.html" %}
{% endblock%}

<div><p></p></div><br>

    <div class="container py-1">
      <div class="row mb-3">
            <p class="font-italic text-muted">
                <h2 class="display-5 font-weight-light">Tenemos una selección de los ultimos titulos en todas las consolas</h2>
            </p>
          </div>
      </div>
        

	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="https://images5.alphacoders.com/101/1017235.jpg">
			<div class="box-element product">
				<h6><strong>Red dead online PS5</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-info" href="#">Ver</a>
				<h4 style="display: inline-block; float: right"><strong>$72.000</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="https://images6.alphacoders.com/108/thumb-1920-1081770.jpg">
			<div class="box-element product">
				<h6><strong>Resident Evil Village PS5, XBOX</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-info" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$200.000</strong></h4>
				
			</div>
		</div>

        

		<div class="col-lg-4">
			<img class="thumbnail" src="https://images3.alphacoders.com/687/thumb-1920-687908.jpg">
			<div class="box-element product">
				<h6><strong>Hitman 3 XBOX</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Ver</a>
				<h4 style="display: inline-block; float: right"><strong>$126.262</strong></h4>

			</div>
		</div>

        <div class="col-lg-4">
			<img class="thumbnail" src="https://images8.alphacoders.com/100/thumb-1920-1008799.png">
			<div class="box-element product">
				<h6><strong>Los Sims 4 Interiorismo PC</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Ver</a>
				<h4 style="display: inline-block; float: right"><strong>$86.580</strong></h4>

			</div>
		</div>

        <div class="col-lg-4">
			<img class="thumbnail" src="https://images3.alphacoders.com/598/thumb-1920-598405.jpg">
			<div class="box-element product">
				<h6><strong>Cyberpunk 2077 PC, XBOX</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Vista</a>
				<h4 style="display: inline-block; float: right"><strong>$108.225</strong></h4>

			</div>
		</div>

        <div class="col-lg-4">
			<img class="thumbnail" src="https://images5.alphacoders.com/101/thumb-1920-1011138.jpg">
			<div class="box-element product">
				<h6><strong>Days Gone PC, STEAM</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Vista</a>
				<h4 style="display: inline-block; float: right"><strong>$129.870</strong></h4>

			</div>
		</div>

        <div class="col-lg-4">
			<img class="thumbnail" src="https://images8.alphacoders.com/595/595874.jpg">
			<div class="box-element product">
				<h6><strong>Sniper Ghost Warrior Contracts 2 STEAM</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Vista</a>
				<h4 style="display: inline-block; float: right"><strong>$67.000</strong></h4>

			</div>
		</div>

        <div class="col-lg-4">
			<img class="thumbnail" src="https://images3.alphacoders.com/901/thumb-1920-901691.jpg">
			<div class="box-element product">
				<h6><strong>Biomutant STEAM</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Vista</a>
				<h4 style="display: inline-block; float: right"><strong>$144.300</strong></h4>

			</div>
		</div>
        <div class="col-lg-4">
			<img class="thumbnail" src="https://images2.alphacoders.com/114/thumb-1920-1149649.png">
			<div class="box-element product">
				<h6><strong>Necromunda: Hired Gun PS5, XBOX</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Añadir al carrito</button>
				<a class="btn btn-outline-success" href="#">Ver</a>
				<h4 style="display: inline-block; float: right"><strong>$126.262</strong></h4>

			</div>
		</div>
       
	</div>

	<footer class="bg-light pb-5">
		<div class="container text-center">
		  <p class="font-italic text-muted mb-0">&copy; Derechos reservados a mi</p>
		</div>
	

{% endblock content %}
